<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body>-->
<!--<main>-->

<!--    <form action="#" th:action="'/addSong/'+ ${albums.id}"  method="post">-->

<!--        <h1>Add New Song</h1>-->
<!--        <p>Title <input name="title" type="text" field="*{title}" /></p>-->
<!--        <p>Length   <input name="length" type="number" field="*{length}" /></p>-->
<!--        <label>Number Of Track </label>-->
<!--        <p>Number Of Track <input name="trackNumber" type="number" field="*{trackNumber}" /> </p>-->
<!--        <p><input type="submit" value="Submit" />-->

<!--    </form>-->


<!--    &lt;!&ndash;    <div >&ndash;&gt;-->
<!--    &lt;!&ndash;        <img th:src="${albums.imgUrl}" />&ndash;&gt;-->
<!--    &lt;!&ndash;        <h4>Album Title :<span th:text="${albums.title}"></span></h4>&ndash;&gt;-->
<!--    &lt;!&ndash;        <p>Artist Name :<span th:text="${albums.artist}"></span></p>&ndash;&gt;-->
<!--    &lt;!&ndash;        <p>Song Count:<span th:text="${albums.songCount}"></span></p>&ndash;&gt;-->
<!--    &lt;!&ndash;        <p>Length :<span th:text="${albums.length}"></span></p>&ndash;&gt;-->

<!--    &lt;!&ndash;    </div>&ndash;&gt;-->
<!--    <div >-->
<!--        <div th:each="song : ${song}" >-->
<!--            <h5>Song Title :<span th:text="${song.title}"></span></h5>-->
<!--            <p>Length :<span th:text="${song.length}"></span></p>-->
<!--            <p>Track number :<span th:text="${song.trackNumber}"></span></p>-->
<!--        </div>-->
<!--    </div>-->
<!--</main>-->
<!--</body>-->
<!--</html>-->