<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<main>

<!--    <div>-->
<!--        <form action="#" th:action=/add-song/"${albums.id}" th:object="${songs}" method="post">-->

<!--            <p>title: <input type="text" field="*{title}" name="title" /></p>-->

<!--            <p>artist: <input type="text" field="*{artist}" name="artist" /></p>-->



<!--            <p>trackNumber: <input type="number" field="*{trackNumber}" name="trackNumber" /></p>-->
<!--            <p>length: <input type="number" field="*{length}" name="length" /></p>-->

<!--            <p>Submit <input type="submit" value="Submit" /></p>-->

<!--        </form>-->
<!--    </div>-->
    <div >
        <div>
            <h1> Song collection</h1>
        </div>
        <div th:each="song : ${song}" >
            <h4>Song title :<span th:text="${song.title}"></span></h4>
            <p>Song length :<span th:text="${song.length}"></span></p>
            <p>Track number :<span th:text="${song.trackNumber}"></span></p>
        </div>
    </div>
</main>
</body>
</html>